.appmodal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  height: auto;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.appmodal-header {
  width: 100%;
  padding: 0.5rem;
  background-color: #333;
  color: aliceblue;
}

.appmodal-content {
  padding: 0.5rem;
}

.appmodal-footer {
  padding: 0.5rem;
}

.appmodal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.appmodal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.appmodal-exit {
  transform: translateY(0);
  opacity: 1;
}

.appmodal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
