.button {
  font: inherit;
  padding: 0.5rem 2rem;
  background: #323232;
  border: 1px solid #323232;
  color: white;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7d5e2a;
  border-color: #7d5e2a;
}
